.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;

  background: rgb(35, 35, 35);
}

.Load {
  padding-top: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(50, 50, 60);
}

::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 110);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(80, 80, 90);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
