.Collapsible {
  overflow: hidden;
  transition: max-height 0.5s ease;

  margin-top: 0px;
}

.Collapsible.Collapsed {
  max-height: 4rem;
}

.Collapsible.Expanded {
  max-height: 45rem;
}

.Arrow {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  text-align: center;

  background: none;
}

.Arrow > img {
  width: 1.5rem;
}
