.Table {
  width: 100%;
  max-width: 30rem;

  margin-top: 1px;
}

.Row {
  display: grid;
  grid-template-columns: 1fr 1fr;

  border: 1px solid white;
  grid-gap: 1px;

  background: white;
  color: white;

  margin-top: -1px;
}

.Row > select {
  border: none;
  outline: none;

  background: rgb(30, 35, 50);
  color: white;
  font-size: 20px;
  padding: 1rem;
}

.Row > div {
  text-align: left;

  background: rgb(30, 35, 50);
  padding: 1rem;
}
